<%= form_for(@detalle_factura) do |f| %>
  <% if @detalle_factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_factura.errors.count, "error") %> prohibited this detalle_factura from being saved:</h2>

      <ul>
      <% @detalle_factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :factura_id %><br>
    <%= f.number_field :factura_id %>
  </div>
  <div class="field">
    <%= f.label :matriculacion_id %><br>
    <%= f.number_field :matriculacion_id %>
  </div>
  <div class="field">
    <%= f.label :nro_mov %><br>
    <%= f.number_field :nro_mov %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :importe %><br>
    <%= f.number_field :importe %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
