<p>
  <strong>Producto:</strong>
  <%= @producto.nombreproduct %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @producto.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<%= link_to glyph(:arrow_left)+' Volver', productos_path, class: 'btn btn-link btn-sm' %>
<%= link_to glyph(:pencil)+' Editar', edit_producto_path(@producto), class: 'btn btn-link btn-sm' %> 
