<% if cajaabierto != nil %>
<b>Caja abierta</b>
<% else %>
  <script type="text/javascript">
    window.location.replace("http://localhost:3000/cajas/new");
  </script>
<% end %>

<div class='panel panel-default'>
   <div class="panel-heading">
      <h2>
         <center>Crear Curso <%= link_to glyph(:plus_sign), new_curso_path, class: 'btn btn-primary btn-sm tip pull-right', title:'Agregar' %> </center>
      </h2>
   </div>
</div>

<table class="table table-striped table-hover table-condensed dt-responsive" id="datatable">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Especialidad</th>
      <th>Seccion</th>
      <th>Año</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.curso %></td>
        <td><%= curso.especialidad %></td>
        <td><%= curso.seccion %></td>
        <td><%= curso.year %></td>

        <td><%= link_to glyph(:eye_open)+'', curso, class: 'btn btn-link btn-sm tip', title:'Matricular' %></td>
        <td><%= link_to glyph(:pencil)+'', edit_curso_path(curso), class: 'btn btn-link btn-sm' %></td>
        <td><%= link_to glyph(:remove)+'', curso, class: 'btn btn-link btn-sm', method: :delete, data: { confirm: 'Estas seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




