<%= form_for(@caja) do |f| %>
  <% if @caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caja.errors.count, "error") %> prohibited this caja from being saved:</h2>

      <ul>
      <% @caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='panel panel-default'>
    <div class="panel-body">

      <div class="hidden">
        <%= f.label :usuario_id %><br>
        <%= f.number_field :usuario_id %>
      </div>
      <div class="hidden">
        <%= f.label :fechaApertura %><br>
        <%= f.datetime_select :fechaApertura %>
      </div>
      <div class="hidden">
        <%= f.label :fechaCierre %><br>
        <%= f.datetime_select :fechaCierre, readonly: "true" %>
      </div>
      <div class="hidden">
        <%= f.label :apertura %><br>
        <%= f.number_field :apertura %>
      </div>
      <div class="form-group col-lg-4">
        <%= f.label :cierre %><br>
        <%= f.number_field :cierre, placeholder: 'Cierre Caja',readonly: "true", class: 'form-control input-sm' %>
      </div>
      <div class="hidden">
        <%= f.label :entrada %><br>
        <%= f.number_field :entrada %>
      </div>
      <div class="hidden">
        <%= f.label :salida %><br>
        <%= f.number_field :salida %>
      </div>
      <div class="hidden">
        <%= f.label :estado %><br>
        <%= f.check_box :estado %>
      </div>
  </div>
  <div class="panel-footer">
      <div class="actions">
        <button type="submit" class="btn btn-primary btn-sm " ><i class="glyphicon glyphicon-remove-sign"></i> Cerrar</button>
      </div>
  </div>
</div>
<% end %>
