<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @alumno.ci %>
</p>

<p>
  <strong>Fechanac:</strong>
  <%= @alumno.fechanac %>
</p>

<p>
  <strong>Lugarnac:</strong>
  <%= @alumno.lugarnac %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @alumno.domicilio %>
</p>

<p>
  <strong>Nombrema:</strong>
  <%= @alumno.nombrema %>
</p>

<p>
  <strong>Profesionma:</strong>
  <%= @alumno.profesionma %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @alumno.cel %>
</p>

<p>
  <strong>Nombrepa:</strong>
  <%= @alumno.nombrepa %>
</p>

<p>
  <strong>Porfesionpa:</strong>
  <%= @alumno.porfesionpa %>
</p>

<p>
  <strong>Celpa:</strong>
  <%= @alumno.celpa %>
</p>

<%= link_to 'Editar', edit_alumno_path(@alumno) %> |
<%= link_to 'Salir', alumnos_path %>
