<%= form_for(@pagos_servicio) do |f| %>
  <% if @pagos_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagos_servicio.errors.count, "error") %> prohibited this pagos_servicio from being saved:</h2>

      <ul>
      <% @pagos_servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group col-lg-6">
      <%= f.label :servicio %><br>
      <%= f.text_field :servicio, placeholder: 'Servicio', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-6">
      <%= f.label :monto %><br>
      <%= f.number_field :monto, placeholder: 'Monto', class: 'form-control input-sm' %>
    </div>
  </div>
</div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-sm" ><i class="glyphicon glyphicon-plus-sign"></i>Pagar</button>
    </div>

<% end %>
