<!DOCTYPE html>
<html>
<head>
  <title>SanPioXAdmin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :static  => :top , brand: "SPX",:alt => "SPX", :title => "SPX" , :responsive => true do %>

          <%= menu_group do %>
          <% if usuario_signed_in? %>
            <%= menu_item " Alumnos", "/alumnos" %> 
            <%= menu_item " Buscar por", "/alumnos/buscar" %> 
            <%= menu_item " Curso-Matriculación", "/cursos" %>
            <%= menu_item " Productos", "/productos" %>
            <%= menu_item " Pagos de servicios", "/pagos_servicios" %> 
            <%= menu_item " Caja", "/cajas" %> 
            <%= menu_item " Factura", "/facturas" %> 
          
          <% end %>
 
<% end %>
        <%= menu_group pull: :right do %>
        <% if usuario_signed_in? %>
        <%= menu_item  current_usuario.email , "" %>
        <%= menu_item  " Salir", destroy_usuario_session_path, method: :delete, :class => 'text-danger',method: :delete, data: { confirm: 'Esta seguro que desea salir?' }  %>
        <% else %>
        <%= menu_item  " Entrar", new_usuario_session_path  %>
        <%= menu_item  " Registro", new_usuario_registration_path %>
        <% end %>
        <% end -%>
        <% end %>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <% if notice %>
                    <%= bootstrap_flash %> 
                    <% end %>
                    <% if alert %>
                    <%= bootstrap_flash %> 
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="well">
                    <%=yield%>
                </div>
                </div>
            </div>
        </div>
 
<!-- SCRIPT VALIDACION EN IMPORTE A INGRESAR -->
<script type="text/javascript">
  $("#movimiento_totalimporte").val("");
  $("#movimiento_totalimporte").focus();
  $("form").submit(function(event) {
    var importe = $("#movimiento_importe").val();
    var totalimporte = $("#movimiento_totalimporte").val();
    if (totalimporte != ""){
      if (parseInt(totalimporte) > parseInt(importe)) {
        $("#movimiento_totalimporte").val("");
        $("#movimiento_totalimporte").focus();
        alert("El importe no debe ser mayor al saldo");
        event.preventDefault();
      }
      else {
        $("form").submit();
      }
    }
    else{
      alert("Debes ingresar el importe a pagar");
        $("#movimiento_totalimporte").val("");
      $("#movimiento_totalimporte").focus();
      event.preventDefault();
    }
  })
</script>
<!-- SCRIPT TABLA  -->
<script type="text/javascript">
  $(function(){
    $('.tip').tooltip();
    var oTable = $('#datatable, #producto');
    if (oTable.length) {
        $('#datatable_filter').addClass('hidden-xs');
        oTable.DataTable({
            dom: 'Bfrtip',
            buttons: [
              {
                  extend: "copy",
                  text: '<i class="fa fa-files-o"></i>',
                  className: "btn-sm"
              },
              {
                  extend: "csv",
                  text: 'csv',
                  className: "btn-sm"
              },
              {
                  extend: "excel",
                  text: '<i class="fa fa-file-excel-o"></i>',
                  className: "btn-sm"
              },
              {
                  extend: 'pdfHtml5',
                  text: '<i class="fa fa-file-pdf-o"></i>',
                  customize: function (doc) {
                      doc.content.splice(1, 0, {
                          margin: [0, 0, 0, 0],
                          width: 40,
                          height: 40,
                          alignment: 'left'
                          
                });
                  },
                  message: 'Creado por @Usuario ',
                  //download: 'open',
                  className: "btn-sm",
                  exportOptions: {
                      modifier: {
                          page: 'current'
                      }
                  }
              },
                  {
                      extend: "print",
                      text: '<i class="fa fa-print"></i>',
                      className: "btn-sm"
                  },
            ],
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "paging": true,
            "iDisplayLength": 10,
            "bPaginate": true,
            "bSort": true,
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "←",
                    "sNext": "→",
                    "sLast": "»",
                    "sFirst": "«"
                },
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando de _START_ al _END_ de _TOTAL_ registros",
                //"sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando del 0 al 0 de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar: ",
                "sUrl": "",
                "sInfoThousands": ".",
                "sLoadingRecords": "Cargando...",
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    }
      });
</script>
<!-- SCRIPT PARA SELECCIONAR TODO -->
<script type="text/javascript">
  $('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
  });
</script>
<!-- SCRIPT DE FECHA Y HORA -->
<script>
$(document).ready(function()
{
    $( ".datepicker-input" ).datepicker( "option", "yearRange", "-99:+0" );
    $( ".datepicker-input" ).datepicker( "option", "maxDate", "+0m +0d" );
});
</script>

    </body>
</html>
